body {
  background-color: blueviolet;
  color: white;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

.img {
  border: 3px solid #d5ebcf;
  border-radius: 25px;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.style {
  font-size: 50px;
  font-weight: bold;
  float: auto;
  line-height: 0.5;
  margin-reight: 3px;}

.img center {
  background-color: black;
  display: block;
  padding-left: 20px;
  width: 100px;
}

.promo {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid whitesmoke;
  background-color: yellowgreen;
  color: black;
}

.harga {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    padding: 10px 15px;
    color: black;
    border: 2px dotted black;
    border-radius: 15px;

    & p {
        text-align: center;
        font-weight: bold;
    }
}

